.container {
    margin: 40px 40px 60px 40px;
    max-width: 640px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;

}

.tableElement{
    max-width: 120px;
    width: 100%;
    max-height: 56px;
    justify-content: center;
    align-items: center;
}

.img {
    max-width: 480px;
    width: 100%;
    max-height: 240px;
    margin-bottom: 16px;
}

.title {
    max-width: 640px;
    width: 100%;
    min-height: 64px;
    display: flex;
    align-items: center;
}